<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PHOTOWHERE</title>
    <link rel="icon" href="./src/img/ma1.png">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=5"></script>

    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="./src/css/forms.css">
    <link rel="stylesheet" href="./src/css/contribute.css">


</head>

<body>

    <nav>
        <h1>PHOTOWHERE</h1>
    </nav>

    <div id="mobile">
        <main>
            <div class="section_title">
                <h2>Contribute</h2>
            </div>

            <form>

                <label>Nombre del lugar:*</label>
                <input type="text" id="location_name" placeholder="Nombre.">

                <label>Descripción:</label>
                <textarea name="" id="location_description" cols="30" placeholder="Descipción." rows="4"></textarea>

                <label>Dirección:</label>
                <input type="text" id="name_place" placeholder="Dirección.">
                <select name="address">
                    <option value=''>Escribe algo arriba.</option>
                </select>
                <div id="map_div">
                    <div id="cmap"></div>
                </div>

                <label class="error"></label>

                <button type="button" id="send">SIGUIENTE</button>
            </form>
        </main>
        <footer>
            <a href="./">
                <img src="./src/img/search.svg" alt="Home footer button">
            </a>
            <a href="./map">
                <img src="./src/img/map.svg" alt="Map footer button">
            </a>
            <a href="./contribute">
                <img src="./src/img/add.svg" alt="Contribute footer button">
            </a>
            <a href="./profile">
                <img src="./src/img/user.svg" alt="Profile footer button">
            </a>
        </footer>
    </div>



    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js?v=5" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="./src/js/ApiController.js"></script>
    <script src="./src/js/GeoController.js"></script>
    <script src="./src/js/ContributeController.js"></script>

    <script>
        let select_address = $("select").eq(0);
        let input_address = $("#name_place");

        select_address.change(function() {

            let id = $(this).val()
            contributecontroller.move(address_search_locations[id].lat, address_search_locations[id].lon);
            contributecontroller.coordinates = {
                "lat": address_search_locations[0].lat,
                "lng": address_search_locations[0].lon
            }

        })
        input_address.change(search_adress)

        input_address.keyup(function() {
            select_address.html("<option value=''> Loading... </option>");
            delay(search_adress, 1000);
        });

        var delay = (function() {
            var timer = 0;
            return function(callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        let address_search_locations;

        function search_adress() {
            console.log("Searching...");
            $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + input_address.val(), function(data) {
                console.log("Got.");
                if (data) {
                    if (data.length != 0) {
                        address_search_locations = data;

                        contributecontroller.move(data[0].lat, data[0].lon);
                        contributecontroller.coordinates = {
                            "lat": data[0].lat,
                            "lng": data[0].lon
                        }

                        let options = "";
                        let x = 0;
                        data.forEach(option => {
                            options += "<option value='" + x++ + "'> " + option.display_name + " </option>";
                        });
                        select_address.html(options)
                    } else {
                        select_address.html("<option value=''> Nothing found. </option>");
                    }
                }
            });
        }
    </script>

</body>

</html>