<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PHOTOWHERE</title>
    <link rel="icon" href="./src/img/ma1.png">



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- font-family: 'Lato', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->

    <!-- css -->
    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="./src/css/locationpanel.css">
    <link rel="stylesheet" href="./src/css/loading.css">
    <link rel="stylesheet" href="./src/css/photodisplaypanel.css">
    <link rel="stylesheet" href="./src/css/photogrid.css">
    <link rel="stylesheet" href="./src/css/home.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=5"></script>

</head>

<body>



    <!-- <div id="active_pos" style="display: none;">
        <div>
            <h2>Dar acceso a la ubicación</h2>
            <p>Si quiere ver los lugares más cercanos, y ubicarte automaticamente en el mapa donde esté usted, da acceso a la ubicación</p>
            <div id="buttons_pos">
                <div id="accept_pos" class="accept_pos noselect">Permitir ubicación</div>
                <div id="deny_pos" class="noselect">No, gracias</div>
            </div>
        </div>
    </div> -->

    <div id="photo-display-panel" style="display:none;">
        <div id="close-photo-display-panel" class="close-panel">
            <img src="./src/img/cancel.svg" alt="cerrar ventana">
        </div>
        <div id="photo-display-panel-container">
            <img src="" alt="previsualizar" id="photo-display-panel-img">
        </div>
        <div id="photo-display-panel-arrows">
            <div id="photo-display-panel-left-arrow" class="arrow">
                <img src="./src/img/arrow.svg" alt="flecha izquierda">
            </div>
            <div id="photo-display-panel-right-arrow" class="arrow">
                <img src="./src/img/arrow.svg" alt="flecha derecha">
            </div>
        </div>
    </div>

    <nav>
        <h1>PHOTOWHERE</h1>
    </nav>
    <div id="mobile">


        <main>

            <div id="location-panel" class="hide-location-panel">
                <div class="close-panel" id="close-location-panel">
                    <img src="./src/img/cancel.svg" alt="cerrar ventana" id="close-location-panel">
                </div>
                <div id="location-panel-data">
                    <div id="inject-data">

                        <div id="location_share">
                            <img src="./src/img/share.svg" alt="">
                        </div>

                        <h2 id="location_name">Lorem ipsum dolor.</h2>
                        <h3 id="location_description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

                        <div>
                            <a href="" id="location_socialmedia" target="_blank">
                                <img alt="icono de la red social">
                                <p></p>
                            </a>
                        </div>

                        <div id="location-photos">

                        </div>

                        <p id="location_address"></p>
                        <p id="location_googlemaps">
                            <a href="#" target="_blank"> Ver en Google Maps </a>
                        </p>
                        <div class="text-center">
                            <a id="location_map">VER EN EL MAPA</a>
                        </div>

                    </div>
                </div>
            </div>

            <div id="home">

                <section id="near">
                    <div class="section_title">
                        <h2>Lugares más cercanos</h2>
                        <p>
                            <a href="./near" class="seemore" id="loc_seemore">Ver más</a>
                        </p>
                    </div>
                    <div id="near_cont" class="near_cont photogrid loading_zone">
                        <img src="./src/img/loading_w.gif" class="loading_gif" alt="Loading gif">
                    </div>
                </section>


                <section id="popular">
                    <div class="section_title">
                        <h2>Lugares más populares</h2>
                        <p><a href="./popular" class="seemore">Ver más</a></p>
                    </div>
                    <div id="popular_cont" class="popular_cont photogrid loading_zone">
                        <img src="./src/img/loading_w.gif" class="loading_gif" alt="Loading gif">
                    </div>
                </section>


                <section>
                    <div class="section_title">
                        <h2>Todos los tipos</h2>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/monumentos">
                            <img src="https://acolmenero.site/photowhere/src/img/types/monumento.jpg" alt="monumentos">
                            <div>
                                <p> Monumentos </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/naturaleza">
                            <img src="https://acolmenero.site/photowhere/src/img/types/naturaleza.jpg" alt="naturaleza">
                            <div>
                                <p> Naturaleza </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/playa">
                            <img src="https://acolmenero.site/photowhere/src/img/types/playa.jpg" alt="playa">
                            <div>
                                <p> Playa </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/color">
                            <img src="https://acolmenero.site/photowhere/src/img/types/color_cudillero_2.jpg" alt="color">
                            <div>
                                <p> Color </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/castillo">
                            <img src="https://acolmenero.site/photowhere/src/img/types/castillo_murallaAvila.jpg" alt="castillo">
                            <div>
                                <p> Castillos </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/molinos">
                            <img src="https://acolmenero.site/photowhere/src/img/types/molinosConsuegra.jpg" alt="molinos">
                            <div>
                                <p> Molinos </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/faro">
                            <img src="https://acolmenero.site/photowhere/src/img/types/faroTrafalgar.jpg" alt="faro">
                            <div>
                                <p> Faros </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/cascada">
                            <img src="https://acolmenero.site/photowhere/src/img/types/cascada_presasPadrillo_0.jpg" alt="cascada">
                            <div>
                                <p> Cascadas </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/carretera">
                            <img src="https://acolmenero.site/photowhere/src/img/types/carretera_curvaCovadonga.jpg" alt="carretera">
                            <div>
                                <p> Carretera </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/rural">
                            <img src="https://acolmenero.site/photowhere/src/img/types/rural_roblerillodegata.jpg" alt="rural">
                            <div>
                                <p> Rural </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/nolight">
                            <img src="https://acolmenero.site/photowhere/src/img/types/nolight.jpg" alt="nolight">
                            <div>
                                <p> Sin Contaminación Luminica </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/puente">
                            <img src="https://acolmenero.site/photowhere/src/img/types/puentes.jpg" alt="puente">
                            <div>
                                <p> Puentes </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/urbano">
                            <img src="https://acolmenero.site/photowhere/src/img/types/urbano.jpg" alt="urbano">
                            <div>
                                <p> Urbano </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/estatua">
                            <img src="https://acolmenero.site/photowhere/src/img/types/estatuas_plazaMayorMadrid_0.jpg" alt="estatua">
                            <div>
                                <p> Estatuas </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/graffiti">
                            <img src="https://acolmenero.site/photowhere/src/img/types/graffiti.jpg" alt="graffiti">
                            <div>
                                <p> Graffiti </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/roca">
                            <img src="https://acolmenero.site/photowhere/src/img/types/rocas.jpg" alt="roca">
                            <div>
                                <p> Rocas </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/acantilado">
                            <img src="https://acolmenero.site/photowhere/src/img/types/acantiladoInfiernu_2.webp" alt="acantilado">
                            <div>
                                <p> Acantilados </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/pueblo">
                            <img src="https://acolmenero.site/photowhere/src/img/types/pueblo_callejaFlores_0.jpg" alt="pueblo">
                            <div>
                                <p> Pueblos </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/nieve">
                            <img src="https://acolmenero.site/photowhere/src/img/types/nieve_lagoCovadonga_01.jpg" alt="nieve">
                            <div>
                                <p> Nevado </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/vanguardia">
                            <img src="https://acolmenero.site/photowhere/src/img/types/vanguardia.jpg" alt="vanguardia">
                            <div>
                                <p> Vanguardia </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/jardin">
                            <img src="https://acolmenero.site/photowhere/src/img/types/jardin_valdemoro.jpg" alt="jardin">
                            <div>
                                <p> Jardines </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/montaña">
                            <img src="https://acolmenero.site/photowhere/src/img/types/montaña.jpg" alt="montaña">
                            <div>
                                <p> Montaña </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <img src="https://acolmenero.site/photowhere/src/img/types/vistas_caboSilleiro.jpg" alt="vista">
                        <div>
                            <p> Vistas </p>
                        </div>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/primavera">
                            <img src="https://acolmenero.site/photowhere/src/img/types/primavera_parqueQuinta_1.jpg" alt="primavera">
                            <div>
                                <p> Primaveral </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/abandonado">
                            <img src="https://acolmenero.site/photowhere/src/img/types/abandonado_sevilla_55.jpg" alt="abandonado">
                            <div>
                                <p> Abandonado </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/basico">
                            <img src="https://acolmenero.site/photowhere/src/img/types/basico_plazaBadajoz_1.jpg" alt="basico">
                            <div>
                                <p> Básico </p>
                            </div>
                        </a>
                    </div>
                    <div class="spot_type">
                        <a href="./tag/bar">
                            <img src="https://acolmenero.site/photowhere/src/img/types/bar.jpg" alt="bar">
                            <div>
                                <p> Bar </p>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </main>

        <footer>
            <a href="./">
                <img src="./src/img/search.svg" alt="Home footer button">
            </a>
            <a href="./map">
                <img src="./src/img/map.svg" alt="Map footer button">
            </a>
            <a href="./contribute">
                <img src="./src/img/add.svg" alt="Contribute footer button">
            </a>
            <a href="./profile">
                <img src="./src/img/user.svg" alt="Profile footer button">
            </a>
        </footer>
    </div>


    <script src="./src/js/ApiLocationsController.js"></script>
    <script src="./src/js/GeoController.js"></script>
    <script src="./src/js/LocationsController.js"></script>
    <script src="./src/js/PhotoController.js"></script>
    <script src="./src/js/PopularPageController.js"></script>
    <script src="./src/js/NearPageController.js"></script>
    <script src="./src/js/endpoint.js"></script>


</body>

</html>