<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PHOTOWHERE</title>
    <link rel="icon" href="./src/img/ma1.png">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=5"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="./src/css/forms.css">


</head>

<body>

    <nav>
        <h1>PHOTOWHERE</h1>
    </nav>

    <div id="mobile">
        <main>

            <h2>Log In</h2>

            <form method="POST">
                <input type="text" name="username" placeholder="username" id="username">
                <input type="password" name="password" placeholder="password" id="password">
                <label class="error"></label>
                <a href="./signup" class="prefer">
                    <p>No tengo cuenta. Registrarme.</p>
                </a>
                <button type="button" id="login_button">Log In</button>
            </form>

        </main>
        <footer>
            <a href="./">
                <img src="./src/img/search.svg" alt="Home footer button">
            </a>
            <a href="./map">
                <img src="./src/img/map.svg" alt="Map footer button">
            </a>
            <a href="./contribute">
                <img src="./src/img/add.svg" alt="Contribute footer button">
            </a>
            <a href="./profile">
                <img src="./src/img/user.svg" alt="Profile footer button">
            </a>
        </footer>
    </div>


    <script src="./src/js/LoginController.js"></script>

</body>

</html>