<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">


    <title>PHOTOWHERE</title>
    <link rel="icon" href="./src/img/ma1.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=5"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css?v=5" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=5"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->


    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="./src/css/locationpanel.css">
    <link rel="stylesheet" href="./src/css/loading.css">
    <link rel="stylesheet" href="./src/css/photodisplaypanel.css">
    <link rel="stylesheet" href="./src/css/photogrid.css">
    <link rel="stylesheet" href="./src/css/map.css">

</head>

<body>

    <nav>
        <h1>PHOTOWHERE</h1>
    </nav>


    <div id="photo-display-panel" style="display:none;">
        <div id="close-photo-display-panel" class="close-panel">
            <img src="./src/img/cancel.svg" alt="cerrar ventana">
        </div>
        <div id="photo-display-panel-container">
            <img src="" alt="previsualizar" id="photo-display-panel-img">
        </div>
        <div id="photo-display-panel-arrows">
            <div id="photo-display-panel-left-arrow" class="arrow">
                <img src="./src/img/arrow.svg" alt="flecha izquierda">
            </div>
            <div id="photo-display-panel-right-arrow" class="arrow">
                <img src="./src/img/arrow.svg" alt="flecha derecha">
            </div>
        </div>
    </div>
    <div id="filters" style="display:none;">
        <div>
            <div class="close">
                <img src="./src/img/cancel.svg" alt="cerrar ventana" id="close-filter">
            </div>
            <h2 class="noselect">Filtros</h2>
            <form>
                <input type="text" placeholder="Busca algo..." id="general-filter">
                <input type="text" placeholder="Ciudad" id="city-filter">
                <select name="type" id="types-filter">
                    <option value="">Todos</option>
                    <option value="Acantilado">Acantilado</option>
                    <option value="Agua">Agua</option>
                    <option value="Abandonado">Abandonado</option>
                    <option value="Bar">Bar</option>
                    <option value="Basico">Básico</option>
                    <option value="Castillo">Castillo</option>
                    <option value="Carretera">Carretera</option>
                    <option value="Color">Color</option>
                    <option value="Cascada">Cascada</option>
                    <option value="Estátua">Estátuas</option>
                    <option value="Faro">Faro</option>
                    <option value="Graffiti">Graffiti</option>
                    <option value="Historico">Historico</option>
                    <option value="Jardines">Jardines</option>
                    <option value="Local">Local</option>
                    <option value="Lujo">Lujo</option>
                    <option value="Monumentos">Monumentos</option>
                    <option value="Montaña">Montaña</option>
                    <option value="Molinos">Molinos</option>
                    <option value="Naturaleza">Naturaleza</option>
                    <option value="Nieve">Nieve</option>
                    <option value="Playa">Playa</option>
                    <option value="Puentes">Puentes</option>
                    <option value="Primaveral">Primaveral</option>
                    <option value="Pueblo">Pueblo</option>
                    <option value="Rocas">Rocas</option>
                    <option value="Rural">Rural</option>
                    <option value="nolight">Sin contaminación luminica</option>
                    <option value="Urbano">Urbano</option>
                    <option value="Vistas">Vistas</option>
                    <option value="Vanguardia">Vanguardia</option>
                </select>
                <p id="nofilter" class="noselect">Borrar filtros</p>
                <!-- <label><input type="checkbox" name="near" id="near"> Más cercanos</label> -->
                <button id="btn-filter" type="button">Buscar</button>
            </form>
        </div>
    </div>

    <div id="mobile">

        <main>
            <div id="filters-btn" class="noselect"> Filtros </div>

            <div id="map"></div>

            <div id="location-panel" class="hide-location-panel">
                <div class="close-panel" id="close-location-panel">
                    <img src="./src/img/cancel.svg" alt="cerrar ventana" id="close-location-panel">
                </div>
                <div id="location-panel-data">
                    <div id="inject-data">

                        <div id="location_share">
                            <img src="./src/img/share1.svg" alt="">
                        </div>

                        <h2 id="location_name">Lorem ipsum dolor.</h2>
                        <h3 id="location_description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

                        <div>
                            <a href="" id="location_socialmedia">
                                <img alt="icono de la red social">
                                <p></p>
                            </a>
                        </div>

                        <div id="location-photos">

                        </div>

                        <p id="location_address"></p>
                        <p id="location_googlemaps">
                            <a href="#" target="_blank"> Ver en Google Maps </a>
                        </p>

                    </div>
                </div>
            </div>
        </main>
        <footer>
            <a class="nav__button" href="./">
                <img src="./src/img/search.svg" alt="Home footer button">
            </a>
            <a class="nav__button" href="./map">
                <img src="./src/img/map.svg" alt="Map footer button">
            </a>
            <a class="nav__button" href="./contribute">
                <img src="./src/img/add.svg" alt="Contribute footer button">
            </a>
            <a class="nav__button" href="./profile">
                <img src="./src/img/user.svg" alt="Profile footer button">
            </a>
        </footer>
    </div>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js?v=5" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="./src/js/ApiLocationsController.js"></script>
    <script src="./src/js/GeoController.js"></script>
    <script src="./src/js/LocationsController.js"></script>
    <script src="./src/js/PhotoController.js"></script>
    <script src="./src/js/MapController.js"></script>
    <script src="./src/js/endpoint.js"></script>

</body>

</html>