<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PHOTOWHERE</title>
    <link rel="icon" href="./src/img/ma1.png">

    <link rel="stylesheet" href="./src/css/common.css?v=5">

</head>

<body>

    <nav>
        <h1>PHOTOWHERE</h1>
    </nav>

    <main>

        <fieldset>
            <legend>
                <h2>You are not logged in</h2>
            </legend>


            <ul>
                <li>
                    <a href="./login.html" class="list_btn">
                        <p>Log In</p>
                        <img src="https://acolmenero.site/photowhere/src/img/right.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="./register.html" class="list_btn">
                        <p>Register</p>
                        <img src="https://acolmenero.site/photowhere/src/img/right.svg" alt="">
                    </a>
                </li>
            </ul>
        </fieldset>

    </main>

    <footer>
        <a href="./">
            <img src="./src/img/search.svg" alt="Home footer button">
        </a>
        <a href="./map">
            <img src="./src/img/map.svg" alt="Map footer button">
        </a>
        <a href="./contribute">
            <img src="./src/img/add.svg" alt="Contribute footer button">
        </a>
        <a href="./profile">
            <img src="./src/img/user.svg" alt="Profile footer button">
        </a>
    </footer>
</body>

</html>