<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PHOTOWHERE</title>
    <link rel="icon" href="./src/img/ma1.png">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=5"></script>

    <!-- css -->
    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="./src/css/locationpanel.css">
    <link rel="stylesheet" href="./src/css/loading.css">
    <link rel="stylesheet" href="./src/css/photodisplaypanel.css">
    <link rel="stylesheet" href="./src/css/photogrid.css">
    <link rel="stylesheet" href="./src/css/profile.css">



</head>

<body>

    <nav>
        <a href="./settings" id="profile-settings-button"><img src="./src/img/hamb.svg" alt="icono de hamburguesa"></a>
        <h1>PHOTOWHERE</h1>
    </nav>

    <div id="photo-display-panel" style="display:none;">
        <div id="close-photo-display-panel" class="close-panel">
            <img src="./src/img/cancel.svg" alt="cerrar ventana">
        </div>
        <div id="photo-display-panel-container">
            <img src="" alt="previsualizar" id="photo-display-panel-img">
        </div>
        <div id="photo-display-panel-arrows">
            <div id="photo-display-panel-left-arrow" class="arrow">
                <img src="./src/img/arrow.svg" alt="flecha izquierda">
            </div>
            <div id="photo-display-panel-right-arrow" class="arrow">
                <img src="./src/img/arrow.svg" alt="flecha derecha">
            </div>
        </div>
    </div>

    <div id="mobile">
        <main>
            <div id="location-panel" class="hide-location-panel">
                <div class="close-panel" id="close-location-panel">
                    <img src="./src/img/cancel.svg" alt="cerrar ventana" id="close-location-panel">
                </div>
                <div id="location-panel-data">
                    <div id="inject-data">

                        <div id="location_share">
                            <img src="./src/img/share.svg" alt="">
                        </div>

                        <h2 id="location_name">Lorem ipsum dolor.</h2>
                        <h3 id="location_description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

                        <div>
                            <a href="" id="location_socialmedia" target="_blank">
                                <img alt="icono de la red social">
                                <p></p>
                            </a>
                        </div>

                        <div id="location-photos">

                        </div>

                        <p id="location_address"></p>
                        <p id="location_googlemaps">
                            <a href="#" target="_blank"> Ver en Google Maps </a>
                        </p>
                        <div class="text-center">
                            <a id="location_map">VER EN EL MAPA</a>
                        </div>

                    </div>
                </div>
            </div>
            <div id="username_div">
                <h2 id="username"></h2>
            </div>
            <div class="section_title">
                <h2>Tus fotografías:</h2>
            </div>
            <div class="photogrid loading_zone" id="profile-photogrid">
                <img src="./src/img/loading_w.gif" class="loading_gif" alt="Loading gif" style="margin-top: 5rem;">
            </div>
        </main>
        <footer>
            <a href="./">
                <img src="./src/img/search.svg" alt="Home footer button">
            </a>
            <a href="./map">
                <img src="./src/img/map.svg" alt="Map footer button">
            </a>
            <a href="./contribute">
                <img src="./src/img/add.svg" alt="Contribute footer button">
            </a>
            <a href="./profile">
                <img src="./src/img/user.svg" alt="Profile footer button">
            </a>
        </footer>
    </div>



    <script src="./src/js/ApiLocationsController.js"></script>
    <script src="./src/js/GeoController.js"></script>
    <script src="./src/js/LocationsController.js"></script>
    <script src="./src/js/PhotoController.js"></script>
    <script src="./src/js/PopularPageController.js"></script>
    <script src="./src/js/NearPageController.js"></script>
    <script src="./src/js/ProfileController.js"></script>
    <script src="./src/js/endpoint.js"></script>

</body>

</html>