<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PHOTOWHERE</title>
    <link rel="icon" href="./src/img/ma1.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=5"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="./src/css/common.css">
    <link rel="stylesheet" href="./src/css/settings.css">


</head>

<body>

    <nav>
        <h1>PHOTOWHERE</h1>
    </nav>

    <div id="mobile">
        <main>


            <div class="tag">


                <a href="./edit-profile" class="list_btn">
                    <span>Edit profile</span>
                    <img src="./src/img/right.svg" alt="">
                </a>

                <a href="./terms-conditions" class="list_btn">
                    <span>Terms and Conditions</span>
                    <img src="./src/img/right.svg" alt="">
                </a>

                <a href="./privacy-policy" class="list_btn">
                    <span>Privacy Policy</span>
                    <img src="./src/img/right.svg" alt="">
                </a>

                <a id="logout" class="list_btn">
                    <span>Log Out</span>
                    <img src="./src/img/right.svg" alt="">
                </a>
            </div>


        </main>
        <footer>
            <a href="./">
                <img src="./src/img/search.svg" alt="Home footer button">
            </a>
            <a href="./map">
                <img src="./src/img/map.svg" alt="Map footer button">
            </a>
            <a href="./contribute">
                <img src="./src/img/add.svg" alt="Contribute footer button">
            </a>
            <a href="./profile">
                <img src="./src/img/user.svg" alt="Profile footer button">
            </a>
        </footer>
    </div>


    <script>
        var logout = $("#logout");
        logout.click(function() {
            localStorage.removeItem("userID");
            localStorage.removeItem("username");
            window.location = "./login";
        })
    </script>

</body>

</html>