<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PHOTOWHERE</title>
    <link rel="icon" href="./src/img/ma1.png">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=5"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    <!-- font-family: 'Orelega One', cursive; -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->

    <link rel="stylesheet" href="/photowhere/src/css/common.css">
    <link rel="stylesheet" href="/photowhere/src/css/locationpanel.css">
    <link rel="stylesheet" href="/photowhere/src/css/loading.css">
    <link rel="stylesheet" href="/photowhere/src/css/photodisplaypanel.css">
    <link rel="stylesheet" href="/photowhere/src/css/photogrid.css">


</head>

<body>

    <nav>
        <h1>PHOTOWHERE</h1>
    </nav>

    <div id="photo-display-panel" style="display:none;">
        <div id="close-photo-display-panel" class="close-panel">
            <img src="/photowhere/src/img/cancel.svg" alt="cerrar ventana">
        </div>
        <div id="photo-display-panel-container">
            <img src="" alt="previsualizar" id="photo-display-panel-img">
        </div>
        <div id="photo-display-panel-arrows">
            <div id="photo-display-panel-left-arrow" class="arrow">
                <img src="/photowhere/src/img/arrow.svg" alt="flecha izquierda">
            </div>
            <div id="photo-display-panel-right-arrow" class="arrow">
                <img src="/photowhere/src/img/arrow.svg" alt="flecha derecha">
            </div>
        </div>
    </div>
    <!-- <div id="filters" style="display:none;">
        <div>
            <div class="close">
                <img src="./src/img/cancel.svg" alt="cerrar ventana" id="close-filter">
            </div>
            <h2 class="noselect">Filtros</h2>
            <form>
                <input type="text" placeholder="Busca algo..." id="general-filter">
                <input type="text" placeholder="Ciudad" id="city-filter">
                <select name="type" id="types-filter">
                    <option value="">Todos</option>
                    <option value="acantilado">Acantilado</option>
                    <option value="agua">Agua</option>
                    <option value="abandonado">Abandonado</option>
                    <option value="bar">Bar</option>
                    <option value="basico">Básico</option>
                    <option value="castillo">Castillo</option>
                    <option value="carretera">Carretera</option>
                    <option value="color">Color</option>
                    <option value="cascada">Cascada</option>
                    <option value="estátua">Estátua</option>
                    <option value="faro">Faro</option>
                    <option value="graffiti">Graffiti</option>
                    <option value="historico">Historico</option>
                    <option value="jardines">Jardines</option>
                    <option value="local">Local</option>
                    <option value="lujo">Lujo</option>
                    <option value="monumentos">Monumentos</option>
                    <option value="montaña">Montaña</option>
                    <option value="molinos">Molinos</option>
                    <option value="naturaleza">Naturaleza</option>
                    <option value="nieve">Nieve</option>
                    <option value="playa">Playa</option>
                    <option value="puentes">Puentes</option>
                    <option value="primaveral">Primaveral</option>
                    <option value="plaza">Plaza</option>
                    <option value="pueblo">Pueblo</option>
                    <option value="rocas">Rocas</option>
                    <option value="rural">Rural</option>
                    <option value="nolight">Sin contaminación luminica</option>
                    <option value="urbano">Urbano</option>
                    <option value="vistas">Vistas</option>
                    <option value="vanguardia">Vanguardia</option>
                </select>
                <button id="btn-filter" type="button">Buscar</button>
            </form>
        </div>
    </div> -->

    <div id="mobile">
        <main>

            <div id="location-panel" class="hide-location-panel">
                <div class="close-panel" id="close-location-panel">
                    <img src="/photowhere/src/img/cancel.svg" alt="cerrar ventana" id="close-location-panel">
                </div>
                <div id="location-panel-data">
                    <div id="inject-data">

                        <div id="location_share">
                            <img src="/photowhere/src/img/share1.svg" alt="">
                        </div>

                        <h2 id="location_name">Lorem ipsum dolor.</h2>
                        <h3 id="location_description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

                        <div>
                            <a href="" id="location_socialmedia">
                                <img alt="icono de la red social">
                                <p></p>
                            </a>
                        </div>

                        <div id="location-photos">

                        </div>

                        <p id="location_address"></p>
                        <p id="location_googlemaps">
                            <a href="#" target="_blank"> Ver en Google Maps </a>
                        </p>

                    </div>
                </div>
            </div>

            <div id="tag-photogrid" class="places_cont photogrid loading_zone">
                <img src="/photowhere/src/img/loading_w.gif" class="loading_gif" alt="Loading gif" style="margin: 15rem 0;">
            </div>


        </main>

        <footer>
            <a href="/photowhere/">
                <img src="/photowhere/src/img/search.svg" alt="Home footer button">
            </a>
            <a href="../map">
                <img src="/photowhere/src/img/map.svg" alt="Map footer button">
            </a>
            <a href="../contribute">
                <img src="/photowhere/src/img/add.svg" alt="Contribute footer button">
            </a>
            <a href="../profile">
                <img src="/photowhere/src/img/user.svg" alt="Profile footer button">
            </a>
        </footer>
    </div>

    <script src="/photowhere/src/js/ApiLocationsController.js"></script>
    <script src="/photowhere/src/js/GeoController.js"></script>
    <script src="/photowhere/src/js/LocationsController.js"></script>
    <script src="/photowhere/src/js/PhotoController.js"></script>
    <script src="/photowhere/src/js/TagController.js"></script>
    <script src="/photowhere/src/js/endpoint.js"></script>


</body>

</html>