#location-panel {
    background-color: whitesmoke;
    border-radius: 2px 2px 0 0;
    position: fixed;
    transition: transform .3s ease-in;
    width: 540px;
    z-index: 401;
    bottom: 0;
    overflow: hidden;
    left: 50%;
}

.show-location-panel {
    transform: translate(-50%, 0%) !important;
}

.hide-location-panel {
    transform: translate(-50%, 100%) !important;
}

#data_place {
    max-height: 64vh;
    overflow-y: scroll;
    padding-bottom: 3rem;
    background-color: white;
}

#inject-data {
    position: relative;
}

#share {
    position: absolute;
    top: 0;
    right: 0;
    padding: .3rem 1.8rem;
    padding-bottom: .1rem;
    margin: .8rem;
    border-radius: 1rem;
    background: linear-gradient(145deg, #5c4bdb, #6d59ff);
}

#share img {
    width: 1.2rem;
    filter: invert(100%);
}

#place_name {
    margin: 0;
    padding: 1rem 1rem .5rem 1rem;
    font-size: 1.1rem;
}

#place_desc {
    padding: 0 .5rem;
    font-size: .9rem;
    color: rgb(0, 0, 0);
    width: 90%;
    margin-top: 0;
    text-align: justify;
    font-weight: 100;
}

#place_googlemaps a,
#place_googlemaps {
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: .2rem;
}

.tag {
    padding: 0 4px;
}

.tag a {
    color: rgb(43, 43, 43);
    text-decoration: 0;
    font-weight: 600;
}

#social_media {
    display: flex;
    padding-left: 1rem;
}

#social_media>img {
    width: 1.5rem;
}

#social_media>p {
    padding: .5rem;
    font-size: 1rem;
    margin: 0;
}

#social_media a {
    text-decoration: 0;
    color: rgb(30, 0, 85);
}

#place_photos {
    display: flex;
    overflow-x: scroll;
    align-items: flex-start;
    margin: .5rem 0;
    margin-bottom: 3rem;
    padding: 0 2px;
    background-color: whitesmoke;
}

.location-image {
    height: 10rem;
    margin-right: 2px;
}

.single-img {
    display: block;
    margin: 2px auto;
}

#own_map_button {
    cursor: pointer;
    margin: 1rem;
    margin-top: 1rem;
    background-color: rgb(79, 79, 255);
    padding: .5rem;
    text-align: center;
    color: whitesmoke;
    border-radius: 0px;
    background: linear-gradient(145deg, #4747e6, #5555ff);
}

#own_map_button p {
    margin: 0;
}

#place_embed_map {
    margin-top: 2rem;
}

#place_googlemaps {
    padding: 1rem;
    padding-top: 0;
    text-align: right;
    margin: 0 !important;
}

#place_googlemaps a {
    color: rgb(30, 0, 85);
}

#place_address {
    margin: 1rem;
    text-align: right;
}

#related {
    padding-right: .5rem;
}

#related>p {
    padding: .5rem;
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 100;
}

#related-indected {
    display: flex;
    overflow-x: scroll;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.place_realated {
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin: .5rem;
    width: 10rem;
    border: 2px solid rgb(216, 216, 216);
}

.related_img {
    width: 10rem;
    height: 5rem;
    overflow: hidden;
}

.related_img img {
    width: 100%;
}

.own_related {
    border: 2px solid rgb(49, 49, 49);
}

.place_realated p {
    width: 100%;
    padding: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 !important;
    box-sizing: border-box;
}

@media screen and (max-aspect-ratio: 1/1) {
    #place-data {
        background-color: whitesmoke;
        border-radius: 2px 2px 0 0;
        position: fixed;
        transition: transform .3s ease-in;
        width: 100%;
        z-index: 401;
        bottom: 0;
        overflow: hidden;
    }
}