/* TITLEs */

.section_title {
    position: relative;
    padding: .7rem;
}

.section_title h2 {
    margin: 0;
    color: whitesmoke;
    font-size: 1.2rem;
}

.section_title p {
    position: absolute;
    top: 0;
    right: .7rem;
    font-size: .8rem;
}

.section_title a {
    color: rgb(131, 131, 131);
    text-decoration: 0;
}


/* ========= TIPOS ==========*/

.spot_type {
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: calc(100% - 8px);
    margin: 4px;
    cursor: pointer;
}

.spot_type img,
.spot_type a {
    width: 100%;
}

.spot_type div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.spot_type p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}