html,
body {
    background-color: whitesmoke !important;
}

#mobile {
    background-color: whitesmoke !important;
    width: 100%;
    padding: 0 !important;
}

#map {
    height: calc(100vh - 6rem);
    width: 100%;
}

.gmnoprint,
.gm-fullscreen-control {
    display: none;
}

#loading_map {
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.3);
    position: fixed;
    top: 0;
    z-index: 3003;
}

.loaded_map {
    display: none;
}

#filters-btn {
    height: 2rem;
    background-color: whitesmoke;
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
}

#location_map {
    display: none;
}

@media (min-width: 576px) {
    footer,
    nav {
        margin: 0 auto;
        width: 500px !important;
    }
    footer {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}