
#data{
    padding: .5rem;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: 3;
}

main{
    padding: 0 !important;
    background-color: whitesmoke !important;
    width: 100%;
}
    
    #map{
        height: calc(100vh - 8rem);
        width: 100%;
    }

/* #related{
    display: block !important;
} */

.gmnoprint, .gm-fullscreen-control{
    display: none;
}

.error{
    margin: 0;
    color: rgb(255, 44, 44);
    text-align: center;
    display: block;
}