#photo {
    position: fixed;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 999;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 3rem;
}

#photo-cont {
    min-height: 72vh;
    width: 95vw;
    display: flex;
    align-items: center;
    margin: 2rem auto;
    box-sizing: border-box;
}

#img_pre {
    max-width: 95vw;
    max-height: 72vh;
    display: block;
    margin: 0 auto;
}

#arrows {
    width: 95%;
    /* padding: 0 5%; */
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 4rem;
}

#right_arrow img {
    transform: rotate(180deg);
}

#left_arrow img,
#right_arrow img {
    width: 2rem;
    padding: .5rem 1rem;
    filter: invert(100%);
    background-color: rgba(255, 255, 255, 0.322);
}

#left_arrow,
#right_arrow {
    bottom: auto !important;
}


/* @media (min-width: 576px) {
    #arrows {
        top: 50%;
        transform: translateY(50%) !important;
        -webkit-transform: translateY(50%) !important;
        -moz-transform: translateY(50%) !important;
        -ms-transform: translateY(50%) !important;
        -o-transform: translateY(50%) !important;
    }
} */