#photo-display-panel {
    position: fixed;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 3005;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 3rem;
}

#photo-display-panel-container {
    min-height: 80vh;
    width: 95vw;
    display: flex;
    align-items: center;
    margin: 2rem auto;
    box-sizing: border-box;
    position: relative;
}

#photo-display-panel-img {
    max-width: 95vw;
    max-height: 72vh;
    display: block;
    margin: 0 auto;
}

.arrow {
    cursor: pointer;
}

#photo-display-panel-arrows {
    width: 95%;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
}

#photo-display-panel-right-arrow img {
    transform: rotate(180deg);
}

#photo-display-panel-left-arrow img,
#photo-display-panel-right-arrow img {
    width: 2rem;
    padding: .5rem 1rem;
    filter: invert(100%);
    background-color: rgba(255, 255, 255, 0.322);
}

#photo-display-panel-right-arrow,
#photo-display-panel-left-arrow {
    bottom: auto !important;
}

@media (min-width: 576px) {
    #photo-display-panel-container {
        min-height: 86vh;
    }
    #photo-display-panel {
        padding-top: 0;
    }
}