/* #places a {
    font-size: .8rem;
} */

#places {
    /* min-height: 40vh; */
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2px;
    row-gap: 2px;
    /* align-items: flex-start; */
    /* justify-content: start; */
    /* padding-bottom: 4rem; */
}

.place {
    aspect-ratio: 1/1;
    /* width: 176px;
    height: 176px; */
    /* width: calc(9.9vw - 4px);
    height: calc(9.9vw - 4px); */
    /* position: relative; */
    /* overflow: hidden; */
    /* margin: 2px; */
}


/* .ver {
    width: calc(33vw - 4px);
    position: absolute;
}

.hor {
    height: calc(33vw - 4px);
    position: absolute;
}

.square {
    height: calc(33vw - 4px);
    width: calc(33vw - 4px);
} */


/* @media screen and (max-aspect-ratio: 1/1) {
    .place {
        width: calc(33.3vw - 4px);
        height: calc(33.3vw - 4px);
        position: relative;
        overflow: hidden;
        margin: 2px;
    }
} */